
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  box-sizing: border-box;
  background-color: #0f171e;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f171e;
  color: white;
  animation: fadeIn 1s ease-in;
}

.splash-logo {
  width: 100px;
  height: 100px;
  animation: popIn 1.2s ease-out;
}

.splash-text {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  animation: fadeInText 2s ease 0.5s forwards;
}

/* Animations */
@keyframes popIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
}


