section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 60px;

  .btn3 {
    button {
      margin: 15px 6px 0px;
      background-color: #1f80e0;
      color: white;
      border: 1px solid transparent;
      padding: 10px 23px;
      font-size: 0.85rem;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
      
    }
    .buy-btn{
        padding: 10px 35px;
    }
  }

  .btn3 :hover {
    background-color: #156dc0;
  }

  p{
    padding: 6px 0px;
    color: lightgray;
    font-size: 18px;

  }
  .headPra{
    margin-top: 30px;
    color: #919597;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
  }
   .specialPrice{
    color: #1f80e0 ;
    font-size: 17px;
  }

  .price2{
    font-size: 21px;
    letter-spacing: 2px;

    .priceless{
        color: #919597;
        font-size: 15px;  
        text-decoration: line-through;
    }
    .offColor{
        color: #1f80e0;
        font-size: 17px;
    }
  }
  .rating{
    color: #919597;
    font-weight: 600;
    font-size: 17px;

    span{
        background-color: #1f80e0;
        border-radius: 10px;
        padding: 3px 15px;
    }
  }
}